@model CoreTweet.Core.ListedResponse<CoreTweet.Status>
@{
    ViewBag.Title = "キャラクター 一覧";
}
@functions {
    string CreateStatus(CoreTweet.Status s)
    {
        var text = s.Text;
        foreach (var u in s.Entities.Urls)
        {
            text = text.Replace(u.Url.AbsoluteUri, string.Format(@"<a href=""{0}"" target=""_blank"">{1}</a>", u.Url.AbsoluteUri, u.DisplayUrl));
        }
        return text.Replace("\n", "<br />");
    }

}

<h1 class="title">@ViewBag.Title</h1>
@if (Model == null)
{
    <hr />
    <p class="text-danger">@ViewBag.Status</p>
    <p>URL にツイートの ID を ?ids=123,456,789 のように付けてアクセスしてね。</p>
    <p>ツイートの ID の部分: https://twitter.com/pronama/status/<strong>487491558627745792</strong></p>
}
else
{
    <ul class="bxslider">
        @foreach (var s in Model)
        {
            <li>
                @if (s.Entities.Media == null)
                {
                    var exists = false;
                    foreach (var u in s.Entities.Urls)
                    {
                        var html = (new WebClient()).DownloadString(u.ExpandedUrl);
                        var url = new System.Text.RegularExpressions.Regex(@"<meta\s+?name=""twitter:image""\s+?value=""(?<url>.+?)"".*?>").Match(html).Groups["url"].Value;
                        if (!string.IsNullOrEmpty(url))
                        {
                            <img src="@url" />
                            exists = true;
                            break;
                        }
                    }
                    if (!exists)
                    {
                        <img src="http://placehold.it/350x350&text=No+media" width="350" height="350" />
                    }
                }
                else
                {
                    <img src="@s.Entities.Media.First().MediaUrl" />
                }
                <div class="media card">
                    <img class="pull-left img-circle media-object" src="@s.User.ProfileImageUrl">
                    <div class="media-body">
                        <h4 class="name media-heading"><a href="https://twitter.com/@s.User.ScreenName" target="_blank">@s.User.Name</a></h4>
                        <span class="screenname">@@@s.User.ScreenName</span>
                        <p class="status">@Html.Raw(CreateStatus(s))</p>
                        <a href="https://twitter.com/@s.User.ScreenName/status/@s.Id" target="_blank" class="datetime"><time>@s.CreatedAt.UtcDateTime.AddHours(9).ToString("yyyy/MM/dd HH:mm")</time></a>
                    </div>
                </div>
            </li>
        }
    </ul>

    <div id="bx-pager">
        @foreach (var s in Model.Select((v, i) => new { i, v }))
        {
            <a data-slide-index="@s.i" href=""><img class="img-circle pager" src="@s.v.User.ProfileImageUrl" /></a>
        }
    </div>
    <div style="text-align: right;">
        <span class="badge">@Model.Count</span>
    </div>
}

<div id="edit-group" style="display:none;">
    <hr />
    <div class="form-group">
<textarea id="list" rows="20" cols="100" style="max-width:100%;">
@if (Model != null)
{
foreach (var s in Model)
{
@:https://twitter.com/@s.User.ScreenName/status/@s.Id
}
}
</textarea>
    </div>
    <div class="form-group">
        <input type="button" id="edit-btn" class="btn btn-default" value="編集" />
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var slider = $(".bxslider").bxSlider({
                pagerCustom: '#bx-pager',
                adaptiveHeight: true,
                randomStart: true
            })

            $("#edit").click(function () {
                $("#edit-group").show();
                return false;
            });

            $("#edit-btn").click(function () {
                var result = $("#list").val().match(/status\/(\d+)/g);
                var ids = "";
                if (result) {
                    ids = result.join(",").replace(/status\//g, "");
                }                
                window.location.href = window.location.href.replace(/[\?#].*/, "") + "?ids=" + ids;
            });

            $('html').keydown(function (e) {
                switch (e.which) {
                    case 37: // <-
                        slider.goToPrevSlide();
                        break;
                    case 39: // ->
                        slider.goToNextSlide();
                        break;
                }
                return false;
            });
        });
    </script>
}
